@import url(https://fonts.googleapis.com/css?family=Candal);

h1 {
	font-family: 'Candal', sans-serif;
	display: inline;
	border-left: 40%;
	border-right: 40%;
}

body {
	color: white;
	font-size: 20px;
	background-color: #333231;
	background-image: url("backgroundBlurred.jpg");
	background-size: cover;
}

table {
	box-sizing: border-box;
	border: 3px solid grey;
	height: 50%;
	width: 80%;
	float: center;
}

br {
	color: yellow;
}

.emphasis {
	color: red;
	font-size: 45px;
}

.specialneedstext {
	font-weight: bold;
	color: yellow;
}
